@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');*{
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;


}

body{
    background-image: url(images/arkaplan.jpeg);
    height: 100vh;
    width:100%;
    background-position: center;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Roboto',sans-serif;
    
}


body div
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#a_class
{
    background-color: rgba(255, 99, 71, 0.367);
    margin: 0;
    padding: 32px 0;
    width: 100%;
}

#ustBolum {
    width: 60%;
    margin: 1% auto;
    list-style-type: none;
    display: flex;
    justify-content:space-between;
}

.row div a {
    color: white;
    font-size: 15px;
    font-family: Poppins,sans-serif;
    text-decoration: none;
    padding: 10px;
}

.row div a.active,
.row div a:hover {
    background:rgba(230, 112, 91, 0.942);
    transition: .5s;
}

.center{
    position:absolute;
    top:50%;
    left:50%; 
    transform: translate(-50%,-50%);
    font-family: Roboto;
    user-select: none; 
    background: rgba(255, 255, 255, 0.588);
    padding:35px;
    color: rgb(35, 24, 24);
    text-decoration :none;
    font-size: 18px;
}
.arkadaslar img{
    size: 5px 5px;
    
}
.ilgiAlanlarim{
    position:absolute;
    font-family: Roboto;
    background: rgba(255, 255, 255, 0.664);
    color: rgb(35, 24, 24);
    text-decoration :none;
    font-size: 18px;
    left: 7%;
    right: 7%;
    top:25%;
    padding: 2%;
    width: 80%;
    height: 45%;
}
.content{
    padding: 3%;
    
}
.baslik0{
    background:  rgba(220, 97, 75, 0.942);
    width: 98,5%;
    color: white;
    font-family: Poppins,sans-serif;
    text-decoration: none;
    padding: 10px;
    font-size: 27px;
}
